<!DOCTYPE html>
{% extends 'blog/base.html' %}
{%block content%}
    <div class="jumbotron">
    <h1 class="centerstage">About Me</h1>
    <p class="centerstage">Hi! I am Aditya Deshmukh. I am an electrical engineer.</p>

    <p>I have created this blog site as part of a project while learning Django and basics of HTML, CSS and JavaScrpit. This project
        has helped me in learning to create web applications from scratch.<p>

    <p>In this web app, the user can login in and create blogs. Visitors can view and comment on the blogs published by the user.
        The user can approve comments by visitors or delete them. User can also edit or delete blogs after logging in.</p>
    </div>
{% endblock %}
